//Imports



body {
    background: #202020;
    .mainPop {
        background: #1a3c69;
        display: flex;
        justify-content: center;
        width: 60vh;
        margin: 0 auto;
        }
}